body
{
    background-color: #e1e4f0;
}

@media (max-width: 768px) {
    body.changeable {
        background-color: white;
    }
}

.content, .header, .primary
{
    background-color: white;
}

.footer
{
        color:rgb(95, 95, 95)
}